<h1>Raffle</h1>


	<form>
		<input type="text" data-ng-model = "fname"> {{fname}}
	</form>


<div data-ng-controller = "RaffleCtrl">
		<ul>
			<li data-ng-repeat = "entry in entries">
				{{entry.name}}
			</li>
	    </ul>
</div>



